
:root {
    --yellow: #ffe74cff;
    --rose: #ff5964ff;
    --snow: #FAF7F7FF;
    --black: #0a0908ff;
    --blue-jeans: #35a7ffff;
}

body {
    margin: 0;
}

.project-card {
    max-width: 400px;
    min-height: 500px;
    border-radius: 20px;
    background-color: var(--black);
}


