
:root {
    --yellow: #ffe74cff;
    --rose: #ff5964ff;
    --snow: #FAF7F7FF;
    --black: rgb(10, 9, 8);
    --blue-jeans: #35a7ffff;
    --silver: rgb(134, 134, 139);
    --gray: #f0f0f0;

    --rad: 20px;
    --h5font: 0.83em;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--snow);
    color: var(--black);
    cursor: default;
}



/* Navigation Bar */

.nav {
    z-index: 100;
    width: 100%;
    height: 6vh;
    background-color: rgba(10, 9, 8, 0.8);
    backdrop-filter: saturate(200%) blur(20px);
    /* position: fixed; */
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: space-around;
}

.grid-item {
    width: 100%;
    height: 3vh;
}

.nav-item {
    height: 100%;
}

.home-button {
    color: var(--snow);
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 5vw;
    height: 100%;

    /* padding-left: 1vw; */

    /* border: 1px solid red; */
}

.home-button:hover {
    cursor: pointer;
}

.right-align-container {
    display: flex;
    justify-content: end;
    gap: 5vw;

    /* width of 15vw allows linkedin logo to line up with cards */
    width: 15vw; 
    height: 100%;

    /* width: 19vw; */
}

.link-icon-wrapper {
    height: 100%;
    object-fit: cover;
    display: block;
}

.social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* About Me */

.flex-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* overflow-x: hidden; */
}


.about-me-section {
    width: 100vw;
    /* height: 100vh; */

    /* border: 1px solid red; */
}

.about-me-card {
    width: 90vw;
    height: 45vw;
    /* margin-top: calc(6vh); */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* for normal aspect ratio make flex-direction: row, for mobile column */

    /* border: 5px solid pink; */

    /* width: 98vw; */
}

.about-me-text-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 3%;
}

.name {
    font-size: 10vw;
}

.name h5 {
    margin: 0;
    display: inline;
}

.name p {
    display: inline;
    margin: 0;
    font-size: var(--h5font);
}

.bio {
    font-size: 3vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.8%;
}

.bio p {
    margin: 0;
}


.headshot-wrapper {
    width: 50%;
    height: 100%;
}

.headshot {
    height: 100%;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}






/* Project Cards */

.projects-section {
    width: 100vw;
    height: 100vh;

    margin: 100px 0;
    /* border: 1px solid red; */

    overflow: hidden;
}

.projects-section-header {
    padding-left: 5vw;
    font-size: 2rem;
}

.silver-header {
    color: var(--silver);
}


#project-card-container {
    width: auto;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* scroll-snap-type: x mandatory;
    scroll-snap-type: x; */

    padding: 0 4.5%;
}

.project-card {
    scroll-snap-align: center;
    height: 88%;
    width: 98vw;
    border-radius: var(--rad);
    background-color: var(--black);
    color: var(--snow);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;

    margin: 0 5%;
    /* margin-top: calc(6vh + 2vh); */

    

    width: 40%;
    width: 40vw;
    height: 80%;
    margin: 2.5% 0.5%;
    
}

.project-card {
    transition: transform 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.01);
}

.project-card:hover {
    cursor: e-resize;
}

.project-media {
    /* outline: 5px solid var(--snow); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: var(--black);
    overflow: hidden;
}

.screenshot-link {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.screenshot {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-header {
    display: grid;
    grid-template-columns: 70% 30%; 
    height: 10%;
}

.project-title,
.project-tech {
    padding-left: 20px; 
    display: flex;
}

.project-title {
    font-size: 2.25vw;
    align-items: center;
}

.project-tech {
    font-size: 1.5vw;
    height: 10%;
    align-items: flex-start;
}

.project-link-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5%;
    height: 100%;

    font-size: 0;
}

.repo-link {
    width: 8%;
}



/* from section */


.iowa-section-card {
    height: 100%;
    width: 100%;
    font-size: 2.5vw;
    color: var(--snow);
    text-align: center;
    background-image: url(./img/iowa.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subheading {
    color: var(--silver);
    color: #86868B;
    font-size: 2vw;
    text-align: center;
}




/* .something-to-hover {
    transition: transform 0.2s ease-in-out;
}

.something-to-hover:hover {
    transform: scale(1.01);
} */


/* blog posts */

.blog-section-container {
    /* border: 1px solid red; */

    width: 100vw;
    /* height: 100vw; */

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw 1vw;
    padding: 10px 5vw;

    /* grid-template-columns: 42.5vw 42.5vw;
    justify-content: space-evenly; 
    grid-gap: 1vw 0; */
}

.blog-card {
    /* border: 1px solid blue; */

    background-color: var(--gray);
    height: 48vw;


    justify-self: center; 
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 44vw;
    width: 100%;
}



/* $ whoami section */

#whoami-section-container {
    border:1px solid red;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}



#whoami-section {
    height: 92vh;
    width: 90vw;

    /* position:relative; */

    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    /* border: 1px solid blue; */
}

.whoami-cmd {
    background-color: rgba(10, 9, 8, 0.8);
    backdrop-filter: saturate(200%) blur(20px);
    color: var(--snow);
    width: 90vw;
    height: 8%;
    position: absolute;
    top: 4vh;
    display: flex;
    align-items: center;

    font-family: 'Courier New';

    /* border: 1px solid red; */
}

.whoami-cmd strong {
    margin-left: 20px;
}

.whoami-card {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* text-align: center; */

    scroll-snap-align: center;
}

.whoami-card div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whoami-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* footer */

.footer {
    width: 100%;
    height: 8vh;
    color: var(--silver);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text-wrapper {
    font-size: 0.8rem;
}








/* $ test section */

#test-container {
    /* border:5px solid black; */
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.test-cmd {
    background-color: rgba(10, 9, 8, 0.8);
    backdrop-filter: saturate(200%) blur(20px);
    color: var(--snow);
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0vh;
    display: flex;
    align-items: center;

    font-family: 'Courier New';

    /* border: 10px solid yellow; */
}

.test-cmd strong {
    margin-left: 20px;
}

#test-section {
    height: 100%;
    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.test-card {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* text-align: center; */

    scroll-snap-align: center;
}

.test-card div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-title-card {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 20px;
}

