
:root {
    --yellow: #ffe74cff;
    --rose: #ff5964ff;
    --snow: #FAF7F7FF;
    --black: rgb(10, 9, 8);
    --blue-jeans: #35a7ffff;
    --silver: rgb(134, 134, 139);
    --gray: #f0f0f0;

    --rad: 20px;
    --h5font: 0.83em;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--snow);
    color: var(--black);
    cursor: default;
}



/* Navigation Bar */

.nav {
    z-index: 100;
    width: 100%;
    height: 6vh;
    background-color: rgba(10, 9, 8, 0.8);
    backdrop-filter: saturate(200%) blur(20px);
    /* position: fixed; */
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: space-around;
}

.grid-item {
    width: 100%;
    height: 3vh;
}

.nav-item {
    height: 100%;
}

.home-button {
    color: var(--snow);
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 5vw;
    height: 100%;

    padding-left: 1vw;

    /* border: 1px solid red; */
}

.home-button:hover {
    cursor: pointer;
}

.right-align-container {
    display: flex;
    justify-content: end;
    gap: 5vw;

    /* width of 15vw allows linkedin logo to line up with cards */
    width: 15vw; 
    height: 100%;

    width: 19vw;
}

.link-icon-wrapper {
    height: 100%;
    object-fit: cover;
    display: block;
}

.social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* Hero Image */

.flex-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* overflow-x: hidden; */
}


.about-me-section {
    width: 100vw;
    /* height: 100vh; */

    /* border: 1px solid red; */
}

.about-me-card {
    width: 90vw;
    height: 90vh;
    /* margin-top: calc(6vh); */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* for normal aspect ratio make flex-direction: row, for mobile column */

    /* border: 5px solid pink; */

    width: 98vw;
}

.about-me-text-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 3%;
}

.name {
    font-size: 10vw;
}

.name h5 {
    margin: 0;
    display: inline;
}

.name p {
    display: inline;
    margin: 0;
    font-size: var(--h5font);
}

.bio {
    font-size: 3vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.8%;
}

.bio p {
    margin: 0;
}


.headshot-wrapper {
    width: 50%;
    height: 100%;
}

.headshot {
    height: 100%;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}






/* Project Cards */

.project-card:hover {
    cursor: e-resize;
}

#project-card-container {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

#project-section-card {
    background-color: transparent;
    box-shadow: none;
    font-size: 10vw;
    color: var(--black);
}

.vert-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.vert-align img {
    width: 10vw;
    position: relative;
    top: 1.225vw;
    left: -2.5vw;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
    
    background-color: var(--snow);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--rad);
}

.project-card {
    scroll-snap-align: center;
    width: 90%;
    height: 88%;
    border-radius: var(--rad);
    background-color: var(--black);
    color: var(--snow);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;

    margin: 0 5%;
    margin-top: calc(6vh + 2vh);

    width: 98vw;
}

.project-media {
    outline: 5px solid var(--snow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: var(--black);
    overflow: hidden;
}

.screenshot-link {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.screenshot {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-header {
    display: grid;
    grid-template-columns: 70% 30%; 
    height: 10%;
}

.project-title,
.project-tech {
    padding-left: 20px; 
    display: flex;
}

.project-title {
    font-size: 2.25vw;
    align-items: center;
}

.project-tech {
    font-size: 1.5vw;
    height: 10%;
    align-items: flex-start;
}

.project-link-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5%;
    height: 100%;

    font-size: 0;
}

.repo-link {
    width: 8%;
}



/* from section */


.iowa-section-card {
    height: 100%;
    width: 100%;
    font-size: 2.5vw;
    color: var(--snow);
    text-align: center;
    background-image: url(./img/iowa.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subheading {
    color: var(--silver);
    color: #86868B;
    font-size: 2vw;
    text-align: center;
}




/* use on blog posts */

/* .something-to-hover {
    transition: transform 0.2s ease-in-out;
}

.something-to-hover:hover {
    transform: scale(1.01);
} */


/* blog posts */

.blog-section-container {
    /* border: 1px solid red; */

    width: 100vw;
    /* height: 100vw; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw 0vw;

    grid-template-columns: 48.5vw 48.5vw;
    justify-content: space-evenly;
}

.blog-card {
    /* border: 1px solid blue; */

    background-color: var(--gray);
    width: 48vw;
    height: 48vw;


    justify-self: center; 
    align-self: center;

    display:flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 48.5vw;
}



/* $ whoami section */

#whoami-section-container {
    /* border:1px solid red;s */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: end;
    position:relative;
}

.whoami-cmd {
    background-color: rgba(10, 9, 8, 0.8);
    backdrop-filter: saturate(200%) blur(20px);
    color: var(--snow);
    width: 98vw;
    height: 8%;
    position: absolute;
    top: 8vh;
    display: flex;
    align-items: center;

    font-family: 'Courier New';
}

.whoami-cmd strong {
    margin-left: 20px;
}

#whoami-section {
    height: 92vh;
    width: 98vw;

    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.whoami-card {
    width: 100%;
    height: 98%;
    display: inline-block;
    text-align: center;

    scroll-snap-align: center;
}

.whoami-card div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whoami-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



